= @count

#map_canvas
#controls
  #range-control
    Range
    %span#range    
    m
    .slider#slider-range
  #price
    Price:
    %span#price_min Budget
    to 
    %span#price_max Luxury      
    .slider#slider-price
  #rat
    Minimum Rating 
    %span#rating 1
    or better
    .slider#slider-stars
  #tags
