
#controls
  .control#range-control
    Distance:
    %span#range        
    .slider#slider-range
  .control#price
    Price:
    %span#price_min Budget
    to 
    %span#price_max Luxury      
    .slider#slider-price
  .control#rat
    Rating:
    %span#rating
    .slider#slider-stars
  .control#tags
#map_canvas
  .alert-message#msg